@import "~bootstrap";
body {
    background-color: rgb(255, 255, 255);
}
.cointainer { 
    margin: 1em auto;
    width: 1100; 
    font: 14px sans-serif; 
}
.app-landing { 
    position:absolute; 
    top: 30%; 
    left:25%; 
    right:25%; 
    text-align: center; 
}
.app-landing-buttons {
    position:absolute;
    top: 30%;
    right: 0px;
    text-align: start;
}
.sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100%;
    width: 250px;
    border: 1px solid black;
    background: rgb(199, 199, 199);
}
.login-fb {
    background-image: url('/public/images/login-fb.png');
    background-size: cover;
    width: 200px;
    height: 40px;
}
.logout-top-right {
    relative: absolute;
    top: 5;
    right: 5%;
    width: 150px;
    height: 150px;
}
