{% extends 'base.html.twig' %}

{% block title %}Hello FrontendController!{% endblock %}

{% block body %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v11.0&appId=264934645414054&autoLogAppEvents=1" nonce="8csbnHuq"></script>
<div class="example-wrapper">

        <div class="app-landing">
            <h1>Action REAction</h1><hr />
            <h5>Automation platform of his digital life</h5><br />
            <img src="/images/epitechlogo.png" />
        </div>
        <div class="app-landing-buttons">
            <a href="{{ path('connect_facebook_start') }}">
            <button class="login-fb"></button></a>
            <hr />
            <a href="{{ path('app_login') }}">
            <button type="button" class="btn btn-lg btn-outline-secondary">Sign In</button></a>
            <a href="{{ path('app_register') }}">
            <button type="button" class="btn btn-lg btn-outline-primary">Sign Up</button></a>
        </div>


</div>
{% endblock %}
